/*coler scheme */
/*end coler scheme */
.intro {
  margin-top: 30px;
  text-align: center; }

p {
  color: #333333;
  font-size: 24px;
  font-weight: bold; }

.box {
  background: #e9725c;
  display: block;
  height: 30px;
  margin-top: 20px; }

/* Portrait tablet to landscape and desktop */
@media (min-width: 768px) and (max-width: 979px) {
  p {
    font-size: 20px;
    font-weight: bold; }

  .box {
    background: #bfdeb4; } }
/* Landscape phone to portrait tablet */
@media (max-width: 767px) {
  p {
    font-size: 18px;
    font-weight: bold; }

  .box {
    background: #89d0c9; } }
/* Landscape phones and down */
@media (max-width: 480px) {
  p {
    font-size: 13px;
    font-weight: bold; }

  .box {
    background: #333333; } }
